
@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Signika Light'), local('Signika-Light'), url(signika-light-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Signika Light'), local('Signika-Light'), url(signika-light-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Signika SemiBold'), local('Signika-SemiBold'), url(signika-semibold-latin-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Signika';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Signika SemiBold'), local('Signika-SemiBold'), url(signika-semibold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}  

body:not(.dark) {
    text-rendering: optimizeLegibility;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-top: 0px;
    border-right: 0px;
    border-color: rgb(0,51,102);
    border-image-slice: 1;
}

body.dark {
    text-rendering: optimizeLegibility;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-top: 0px;
    border-right: 0px;
    border-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(241, 88, 0) 100%);
    border-image-slice: 1;
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
}

body.black:not(.dark) {
    border: none !important;
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
}

body.black article {
    background-color: rgb(42, 42, 42) !important;
    padding: 16px !important;
}

article {
    background-color: white;
    padding: 16px !important;
}

header, #menu-div1, nav {
    background-color: rgb(224,224,224) !important;
}

body.black header, body.black #menu-div1, body.black nav {
    background-color: rgb(112, 112, 112) !important;
}

.pure-u-md-1-5, .pure-u-md-4-5 {
    transition: all 300ms ease;
}

#menu-header {
    position: fixed;
    width: inherit;
}

h1, h2, h3, h4 {
    /*Signika, or the old font*/
    font-family: "Signika", Georgia, Times, "Times New Roman", serif !important;
    color: rgb(0,51,102);
    font-weight: 600;
}

.pure-menu-link {
    font-family: "Signika", Georgia, Times, "Times New Roman", serif !important;
    font-size: 15.6px;
    font-weight: 300;
}

body.black:not(.dark) h1, body.black:not(.dark) h2, body.black:not(.dark) h4, h1.black, h2.black, h3.black, h4.black {
    color: white !important;
}

body.dark h1, body.dark h2, body.dark h4 {
    color: rgb(255, 255, 255) !important;
}

p, div {
    font-family: Georgia, Times, "Times New Roman", serif !important;
    font-size: 16px !important;
    line-height: 1.8 !important;
}

article a:not(.source):not(.twitter) {
    background-color: rgb(229,240,251) !important;
    text-decoration: none;
    color: black;
}

article #inner-social-box a {
    background-color: unset !important;
}

#social-box h2 {
    margin: 1.2em 0 -28px 0;
    padding: 16px 16px 0 16px;
    color: rgb(121, 121, 121)
}

#inner-social-box a {
    text-decoration: none;
    color: initial;
}

#inner-social-box a {
    text-decoration: none !important;
}

div.entries > div:nth-of-type(odd) {
    background-color: #f6f6f6;
}

a.source, .journal-entry a.source, .conference-entry a.source {
    text-decoration: none;
    color: initial;
}

body:not(.dark) nav li.pure-menu-selected a {
    color: rgb(0,51,102) !important;
}

body:not(.dark) nav div:not(.pure-menu-horizontal) li.pure-menu-selected a {
    border-left: 10px solid rgb(167, 167, 167) !important;
    margin-left: -2px;
    padding-left: 20px !important;
}

body:not(.dark) nav div:not(.pure-menu-horizontal) li:not(.pure-menu-selected) a  {
    margin-left: 8px;
    padding-left: 20px;
}

body.dark nav li.pure-menu-selected:not(.dark) a {
    color: rgb(185, 185, 185) !important;
}

article a:hover:not(.source):not(.twitter) {
    background-color: rgb(213,227,240) !important;
    text-decoration: underline;
}

a.source:hover, .journal-entry a.source:hover, .conference-entry a.source:hover {
    text-decoration: underline;
}

.top-menu {
    border-left: 10px solid rgb(0,51,102);
    width: calc(100% - 10px) !important;
    height: fit-content;
    position: fixed;
    left: 0;
    top: 0;
}

body.dark .top-menu {
    border-left: 10px solid rgb(255, 255, 255);
}

.index-img-div {
    padding: 0 19px 9px 19px;
    max-width: 600px !important;
    float: right;
}

@media only screen and (max-width: 48em) {
    .index-img-div {
        max-width: 500px !important;
        float: none;
        padding: 0;
    }
}

@media only screen and (max-width: 35.5em) {
    #social-box {
        display: none;
    }
}

#social-box {
    background-color:rgb(241, 241, 241); 
    margin:-16px -16px -16px 16px;
}

#social-box #inner-social-box {
    padding: 2.52em 10px 10px 10px;
}

#social-box #inner-social-box .header, #social-box #inner-social-box .header .left, #social-box #inner-social-box .body {
    font-family: Helvetica, Roboto, 'Segoe UI', Calibri, sans-serif !important;
    font-size: 14.8px !important;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
}

#social-box #inner-social-box .header .left {
    width: 80%;
    border: none !important;
    background-color: inherit !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#social-box #inner-social-box .header .right {
    width: 20%;
    text-align: right;
}

#social-box #inner-social-box .header {
    margin-top: 10px;
    padding: 10.8px 16px 10.8px 16px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: #777;
    display: flex;
}

.fa-twitter {
    color: #38a1f3;
}

a.twitter {
    color: #38a1f3 !important;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

div.play-icon {
    position: absolute;
    float: left;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    background-color: white;
    width: 42px;
    height: 42px;
    border-radius: 25px;
    padding: 4px !important;
    margin: 0 !important;
}

i.fa-play-circle {
    font-size: 42px !important;
    color: #38a1f3 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width: 42px;
    max-height: 42px;
}

#social-box #inner-social-box .header:hover, #social-box #inner-social-box .body:hover {
    background-color: rgb(250, 250, 250);
}

#social-box #inner-social-box .body {
    border-radius: 0 0 5px 5px;
    padding: 10.8px 16px 10.8px 16px;
    display: inline-block;
    position: relative;
    display: inline-block;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

#social-box #inner-social-box .body div.social-img {
    margin: 8px 0 6px 0;
}


#social-box #inner-social-box .body img.social-img {
    border-right: 1.3px solid white;
    width: calc(100% - 1.3px);
    height: 0;
    padding-bottom: 100%;
    background-size: cover, contain;
}

code {
    background-color: rgb(238, 238, 238);
    font-size: 14px !important;
    text-align: center !important;
}

pre {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
}

pre code {
    background-color: white !important;
}

b {
    background-color: rgb(213, 240, 226);
    text-decoration: none !important;
    font-weight: normal !important;
}

b.journal, span.journal {
    background-color: rgb(250, 233, 224);
    border: 1px solid rgb(241, 88, 0) !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

body.black b.journal {
    background-color: rgb(241, 88, 0) !important;
    border: 1px solid rgb(250, 233, 224) !important;
}

b.conference, span.conference {
    background-color: rgb(255, 254, 238);
    border: 1px solid rgb(255, 238, 0) !important;
    text-decoration: none !important;
    font-weight: normal !important;
}

span.conference, span.journal, span.details {
    border: 1px solid #d8d8d8;
    padding: .3ex 1ex .3ex 1ex;
    margin: 0 .6ex 0 .4ex;
    text-align: center;
}

div.equation {
    overflow: auto;
}

div.table {
    overflow: auto;
}

div.doi {
    float: right;
}

span.grayisch, div.grayisch {
    color: gray;
}

div.entry {
    padding: 2ex;
    margin: 0 -16px 5px -16px;
    border-top: 1px dashed #d8d8d8;
}

div.exercise {
    padding: 2ex;
    margin: 0 -16px 5px -16px;
    background-color:rgb(246, 246, 246);
    border-top: 1px dashed #d8d8d8;
}

div.hint {
    padding: 2ex;
    margin: 0 -16px 5px -16px;
    background-color: rgb(242, 253, 247);
    border-top: 1px dashed rgb(187, 226, 203);
}

#filter-select {
    text-align: right;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

span.important {
    font-weight: bold;
    text-transform: uppercase;
}

.fas {
    color: rgb(112, 112, 112) !important;
}

div.black-box {    
    margin: auto;
    max-width: 480px;
    width: calc(100% - 10px) !important;
    border-bottom: 10px solid;
    border-left: 10px solid;
    border-top: 0px;
    border-right: 0px;
    border-image: linear-gradient(to right, white 0%, rgb(241, 88, 0) 100%);
    border-image-slice: 1;
    background-color: rgb(66, 66, 66);    
    box-shadow: 0 0 16px rgb(30, 30, 30);
}

div.black-box nav.black-box-top {
    text-align: right;
    background-color: rgb(112, 112, 112) !important;
}

div.black-box div.black-box-content, div.black-box nav.black-box-top  {
    width: calc(100% - 32px) !important;
    padding: 16px;
}

div.black-box div.black-box-content {
    padding-top: 4px !important;
}

body.black a {
    background-color: rgb(112, 112, 112) !important;
    text-decoration: none;
    color: whitesmoke;
}

body.black a:hover {
    background-color: rgb(97, 97, 97) !important;
    text-decoration: underline;
}

img.img200 {
    max-width: 200px;
}

img.img300 {
    max-width: 300px;
}

figure { 
    display: inline-block !important;
}

div.figure {
    width: 100%;
    text-align: center;
}
